.name
{
    text-align: center;
}
.photo
{
    text-align: center;
}
.caption
{
    text-align: center;
}
.timeline
{
    text-align: justify;
}
body{
    background-color:burlywood;
    color:black;
}