html 
        {
            font-size: 22px;
        }
        
body    {
            background-color: black;
            color: whitesmoke;
        }
#html
{
    background-color: aqua;
    color: black;
}

#vacation
{
    background-color: aqua;
    color: black;
}
a{
    color: aliceblue;
}
a:visited{
    color: lightgrey;
}
a:hover , a:active{
    color:crimson;
}

table , tr, th , td , caption{
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding:0.5rem;
}